# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/SampleLab/nbproject/private/
/SampleLab/build/

/Short01/nbproject/private/
/Short01/build/

/Short02/nbproject/private/
/Short02/build/

/Short03/nbproject/private/
/Short03/build/

/Short04/nbproject/private/
/Short04/build/

/Short05/nbproject/private/
/Short05/build/

/Short06/nbproject/private/
/Short06/build/

/TestApp/nbproject/private/
/TestApp/build/
/TestApp/dist/
/Long01/nbproject/private/
/Long01/build/
/Long01/dist/
/V02/nbproject/private/
/V02/build/
/V02/dist/
/V01/nbproject/private/
/V01/build/
/V01/dist/
/V03/nbproject/private/
/V03/build/
/V03/dist/
/Short07/nbproject/private/
/Short07/build/
/Short07/dist/
/Short08/nbproject/private/
/Short08/build/
/Short09/nbproject/private/
/Short09/build/
/Short10/nbproject/private/
/Short10/build/
/Short10/dist/
/Short11/nbproject/private/
/Short11/build/
/Short11/dist/
/Short11 - Copy/build/
/Short11 - Copy/dist/
/Short11 - Copy/nbproject/private/
/Short12/build/
/Short12/dist/
/Short12/nbproject/private/
/Long2/nbproject/private/
/Long02/nbproject/private/
/Long02/build/